<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADMIN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link href="/libs/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/libs/flag-icon-css-master/css/flag-icon.min.css" rel="stylesheet"/>
    <link href="/css/main_page.css" rel="stylesheet"/>
</head>
<body>

<!--/*@thymesVar id="model" type="com.belgium.cps.web.marushkai.entities.Model"*/-->
<form th:action="@{/admin/uploadModel}" th:object="${model}" method="post" class="form-horizontal"
      enctype="multipart/form-data">
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-1">
            <label for="page">Страница:</label>
            <select class="form-control" id="page" name="page_id">
                <option class="pages" value="" selected></option>
                <!--/*@thymesVar id="page" type="com.belgium.cps.web.marushkai.entities.LandingPage"*/-->
                <option class="pages" th:each="page, index : ${pages}" th:text="${page.main_header_en}"
                        th:value="${page.id}"></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-1">
            <input type="text" name="model_name" class="form-control" id="model"
                   placeholder="Model name"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-1">
            <textarea th:field="*{description_ru}" class="form-control" id="descr_ru"
                      placeholder="Description rus"
                      rows="4"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-1">
            <textarea th:field="*{description_en}" class="form-control" id="descr_en"
                      placeholder="Description en"
                      rows="4"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-1">
            <textarea th:field="*{description_fr}" class="form-control" id="descr_fr"
                      placeholder="Description fr"
                      rows="4"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-1">
            <input type="text" th:field="*{brochure}" class="form-control" id="brochure"
                   placeholder="brochure link"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-1">
            <input type="file" required name="photo1_file" class="form-control" id="photo1_file"
                   placeholder="photo1"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-1">
            <input type="file" required name="photo2_file" class="form-control" id="photo2_file"
                   placeholder="photo2"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
            <div class="col-sm-5 col-sm-offset-4">
                <button type="submit" class="btn btn-danger btn-md">Загрузить</button>
            </div>
        </div>
    </div>
</form>
<h3 th:text="${status}"></h3>
</body>
</html>