<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Parts catalogues</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link href="/libs/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/libs/flag-icon-css-master/css/flag-icon.min.css" rel="stylesheet"/>
    <link href="/css/main_page.css" rel="stylesheet"/>
    <link href="/css/parts_catalogue.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse" th:include="index::main-nav"/>
<div style="margin-top: -20px;" class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 catalogue">
                <h1 th:text="#{parts_cat_h1}"></h1>
                <h2 th:text="#{parts_cat_h2}"></h2>
                <h3 th:text="#{parts_cat_h3}"></h3>
                <ol>
                    <li th:text="#{li_1}"></li>
                    <li th:text="#{li_2}"></li>
                    <li th:text="#{li_3}"></li>
                    <li th:text="#{li_4}"></li>
                    <li th:text="#{li_5}"></li>
                    <li th:text="#{li_6}"></li>
                </ol>
            </div>
            <h3 class="head" th:text="#{cat_links}"></h3>
            <div class="col-sm-6 col-sm-offset-3 link">
                <div class="hovereffect">
                    <a href="https://ngpc.cnh.com/Lp/es/cbs?brand=NHAG&region=EUR&sma=&locale=en_GB">
                        <img src="/images/catalogue/new-holland-parts-catalogue.jpg" class="img-responsive outset"
                             alt="New Holland Agriculture parts catalogue"/>
                    </a>
                    <div class="overlay">
                        <h2 th:text="#{nh_agri_cat}"></h2>
                        <a class="info" href="https://ngpc.cnh.com/Lp/es/cbs?brand=NHAG&region=EUR&sma=&locale=en_GB"
                           th:text="#{open_cat}"></a>
                    </div>
                </div>
                <p th:text="#{nh_agri_descr}"></p>
                <hr/>
            </div>
            <div class="col-sm-6 col-sm-offset-3 link">
                <div class="hovereffect">
                    <a href="http://partstore.construction.newholland.com/us/parts-search.html#epc::model_find">
                        <img src="/images/catalogue/new-holland-constr-parts-catalogue.jpg"
                             class="img-responsive outset"
                             alt="New Holland Construction parts catalogue"/>
                    </a>
                    <div class="overlay">
                        <h2 th:text="#{nh_constr_cat}"></h2>
                        <a class="info"
                           href="http://partstore.construction.newholland.com/us/parts-search.html#epc::model_find"
                           th:text="#{open_cat}"></a>
                    </div>
                </div>
                <p th:text="#{nh_constr_descr}"></p>
                <hr/>
            </div>
            <div class="col-sm-6 col-sm-offset-3 link">
                <div class="hovereffect">
                    <a href="https://ngpc.cnh.com/Lp/es/cbs?brand=FLEX&region=NAR&sma=&locale=en">
                        <img src="/images/catalogue/flexi-coil.png" class="img-responsive outset"
                             alt="Flexi-coil spare parts catalogue"/>
                    </a>
                    <div class="overlay">
                        <h2 th:text="#{flexi_coil_cat}"></h2>
                        <a class="info" href="https://ngpc.cnh.com/Lp/es/cbs?brand=FLEX&region=NAR&sma=&locale=en"
                           th:text="#{open_cat}"></a>
                    </div>
                </div>
                <p th:text="#{flexi_coil_descr}"></p>
                <hr/>
            </div>
            <div class="col-sm-6 col-sm-offset-3 link">
                <div class="hovereffect">
                    <a href="#">
                        <img src="/images/catalogue/new-holland-parts-catalogue.jpg" class="img-responsive outset"
                             alt=""/>
                    </a>
                    <div class="overlay">
                        <h2 th:text="#{case_cat}"></h2>
                        <a class="info" href="#" th:text="#{open_cat}"></a>
                    </div>
                </div>
                <p th:text="#{case_descr}"></p>
            </div>
        </div>

        <div class="row descriptions">
            <!--/*@thymesVar id="contactform" type="com.belgium.cps.web.marushkai.entities.forms.ContactForm"*/-->
            <form action="#" th:action="@{/mail}" th:object="${contactform}" method="post" class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-1">
                        <input type="text" required th:field="*{name}" class="form-control" id="name"
                               placeholder="Name"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-1">
                        <input type="email" required th:field="*{email}" class="form-control" id="email"
                               placeholder="email"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-1">
                        <input type="text" required th:field="*{subject}" class="form-control" id="city"
                               placeholder="Subject"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-1">
                                    <textarea required th:field="*{message}" class="form-control" id="message"
                                              placeholder="Message"
                                              rows="6"></textarea>
                    </div>
                </div>
                <!--/*@thymesVar id="title" type="com.belgium.cps.web.marushkai.entities.ready.LandingPageReady.title"*/-->
                <input type="hidden" th:attr="name='categoryName'" th:value="'Catalogue'">
                <input type="hidden" th:attr="name='mail'" th:value="#{mail}">
                <input type="hidden" th:attr="name='returnUrl'" th:value="'/catalogue/'">
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <div class="col-sm-5 col-sm-offset-4">
                            <button type="submit" class="btn btn-danger btn-md" th:text="#{submit}"></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <hr style="margin-bottom: 30px;"/>
        <div class="footer-cat-copyright" th:include="category::footer-copyright"/>
    </div>
</div>
<div th:include="index::scripts"></div>
</body>
</html>