<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-PW4CD8B');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8"/>
    <title>Supported categories</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link href="/libs/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/libs/flag-icon-css-master/css/flag-icon.min.css" rel="stylesheet"/>
    <link href="/css/main_page.css" rel="stylesheet"/>
</head>
<body th:style="'background: url(' + ${imagepath} + ') center top no-repeat; background-size: cover;'">
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PW4CD8B" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<nav class="navbar navbar-inverse" th:include="index::main-nav"/>
<div class="container" id="cat-container" th:object="${items}">
    <div class="row">
        <div class="col-sm-12">
            <!--/*@thymesVar id="header" type="com.belgium.cps.web.marushkai.entities.ready.CategoryReady"*/-->
            <h1 th:text="${header}"></h1>
        </div>
        <div th:each="item, stat : ${items}"
             th:class="${#strings.contains(items[0].category, 'engines')}? 'col-sm-3 eng-alignment' : 'col-sm-3 cat-alignment'">
            <div class="cat">
                <div class="hovereffect">
                    <a th:href="${item.link}">
                        <img th:src="${item.imglink}" class="img-responsive img-thumbnail" th:alt="${item.imgdescr}"/>
                    </a>
                    <div class="overlay">
                        <h2 th:text="${item.hovertext}"></h2>
                        <a class="info" th:href="${item.link}">Show more</a>
                    </div>
                </div>
                <p th:text="${item.description}"></p>
            </div>
        </div>
    </div>
    <hr/>
    <div class="footer-cat-copyright" th:fragment="footer-copyright">
        <div class="row">
            <div class="col-sm-12">
                <span class="disclaimer" th:text="#{disclaim}"></span>
            </div>
            <div class="col-sm-12">
                <span class="rtm">© CPS Belgium 2017 • All Rights Reserved</span>
            </div>
            <div class="col-sm-12">
                <span class="rtm">Design: unlimited54321@mail.ru</span>
            </div>
        </div>
    </div>
</div>
<div th:include="index::scripts"></div>
</body>
</html>