<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!--/*@thymesVar id="title" type="com.belgium.cps.web.marushkai.entities.ready.LandingPageReady.title"*/-->
    <title th:text="${title}"></title>
    <meta name="description" th:content="${landingpage.meta_descr}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link href="/libs/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/libs/flag-icon-css-master/css/flag-icon.min.css" rel="stylesheet"/>
    <link href="/css/main_page.css" rel="stylesheet"/>

    <!-- Start WOWSlider.com HEAD section --> <!-- add to the <head> of your page -->
    <link rel="stylesheet" type="text/css" href="/libs/engine1/style.css"/>
    <script type="text/javascript" src="/libs/engine1/jquery.js"></script>
    <!-- End WOWSlider.com HEAD section -->
    <style type="text/css">
        body {
            position: relative;
        }

        .form-group {
            max-width: 100%;
        }

        ul.nav-pills {
            top: 100px;
            position: fixed;
        }

        textarea:focus, input:focus, .uneditable-input:focus {
            border-color: rgba(229, 103, 23, 0.8) !important;
            box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6) !important;
            outline: 0 none !important;
        }

        #scroll {
            position: fixed;
            z-index: 10000;
        }

        .wrapper {
            min-height: 900px;
        }

        .nav-pills li.active > a {
            background: rgba(161, 5, 0, 0.83);
        }

        .form-group .col-sm-10 {
            left: 15px;
        }
    </style>
</head>
<body data-spy="scroll" data-target="scrollSpy" data-offset="20">
<nav class="navbar navbar-inverse" th:include="index::main-nav"/>
<div class="wrapper" id="general-info"
     th:style="'background: url(' + ${imagepath1} + ') center top no-repeat; background-size: 100% 100%'"
     th:object="${landingpage}">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <span class="info-text"><span style="color: white" class="glyphicon glyphicon-earphone"></span> +32 4 257 7198<br/>
                    <span style="color: white" class="glyphicon glyphicon-print"></span> +32 4 257 7199 (fax)<br/>
                    <span style="color: white" class="glyphicon glyphicon-phone"></span> +32 476 879342<br/>
                <span style="color: white;" class="glyphicon glyphicon-envelope"></span> cps-be (skype)
                </span>

            </div>
            <div class="col-sm-4">
                <div class="hit-the-floor" th:text="${landingpage.main_header}"></div>
            </div>
            <div class="col-sm-4">
                <span class="info-text"><span style="color: white" class="glyphicon glyphicon-home"></span> Rue de la Legende 47<br/>
Zoning Artisanal de Cornemont<br/>
B-4141 Louveigne (SPRIMONT)<br/>
BELGIUM</span>
            </div>
            <div class="col-sm-12">
                <div class="logo">
                    <h2>CPS Belgium <span style="text-transform: lowercase;">sprl</span></h2>
                </div>
                <p id="devise" th:text="${landingpage.logo_description}"></p>
            </div>
        </div>
    </div>
</div>

<!--/*@thymesVar id="landingpage" type="com.belgium.cps.web.marushkai.entities.ready.LandingPageReady"*/-->
<div class="wrapper" id="description"
     th:style="'background: url(' + ${imagepath2} + ') center top no-repeat; background-size: cover;'"
     th:object="${landingpage}">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hit-the-floor" th:text="${landingpage.description_header}">
                </div>
            </div>
        </div>
        <div class="row descriptions">
            <div class="col-sm-12">
                <img th:src="${landingpage.descr_photo_1}" class="img-responsive d_img">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 backimg">
                <h4 class="prompt" style="font-size: 40px; margin-top: 0; padding-bottom: 10px;"
                    th:text="#{supported_models}">
                </h4>
                <div class="list">
                    <ul class="articles">
                        <li th:each="model, stat : ${landingpage.models}">
                            <a class="link" href="#" th:attr="data-popup-open='popup-' + ${stat.index}"
                               th:text="${model.model}"></a>
                            <div class="popup" th:attr="data-popup='popup-' + ${stat.index}">
                                <div class="popup-inner">
                                    <div class="row">
                                        <div class="col-xs-5">
                                            <img th:src="${model.photo1}"
                                                 class="img-thumbnail modal-img img-responsive"/>
                                            <img id="bottom-img" th:src="${model.photo2}"
                                                 class="img-thumbnail modal-img img-responsive"/>
                                        </div>
                                        <div class="col-xs-7">
                                            <h2 th:text="${model.model}"></h2>
                                            <hr/>
                                            <p th:text="${model.description}"></p>
                                            <a class="link" th:href="${model.brochure}?: ''"
                                               th:text="${model.brochure}? 'Get brochure' : ''"></a>
                                        </div>
                                    </div>
                                    <a class="popup-close" th:attr="data-popup-close='popup-' + ${stat.index}" href="#">x</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <img class="img-responsive img-thumbnail d2_img" th:src="${landingpage.descr_photo_2}">
            </div>
            <div class="col-xs-3 col-xs-offset-6">
                <img class="img-responsive img-thumbnail d2_img" th:src="${landingpage.descr_photo_3}">
            </div>
        </div>
    </div>
</div>

<div class="wrapper" id="gallery"
     th:style="'background: url(' + ${imagepath3} + ') center top no-repeat; background-size: cover;'"
     th:object="${landingpage}">
    <div class="container">
        <div class="row" id="gallery-1">
            <div class="col-sm-12">
                <div class="hit-the-floor" th:text="${landingpage.photo_header}"></div>
            </div>
        </div>
        <div class="row descriptions">
            <div class="col-sm-6">
                <!-- Start WOWSlider.com BODY section --> <!-- add to the <body> of your page -->
                <div id="wowslider-container0">
                    <div class="ws_images">
                        <ul>
                            <li th:each="photo, stat : ${landingpage.sliderPhotos}">
                                <img th:src="${photo.photo}" th:alt="${photo.photo_descr}"
                                     th:id="${'wows0_' + stat.index}"/>
                            </li>
                        </ul>
                    </div>
                    <div class="ws_bullets">
                        <div>
                            <a th:each="photo, stat : ${landingpage.sliderPhotos}" href="#"
                               th:title="${photo.photo_descr}">
                                <span><img th:src="${photo.photo_tooltip}"
                                           th:alt="${photo.photo_descr}"/></span>
                            </a>
                        </div>
                    </div>
                    <div class="ws_script" style="position:absolute;left:-99%">
                    </div>
                    <div class="ws_shadow"></div>
                </div>
                <script type="text/javascript" src="/libs/engine1/wowslider.js"></script>
                <script type="text/javascript" src="/libs/engine1/script.js"></script>
                <!-- End WOWSlider.com BODY section -->
            </div>
            <div class="col-sm-6 backimg">
                <p style="color: white;" th:text="${landingpage.photo_description}"></p>
            </div>
        </div>
        <hr style="margin-top: 60px;"/>
        <div class="row" id="gallery-2">
            <div class="col-sm-12">
                <div class="hit-the-floor" th:text="${landingpage.video_header}">
                </div>
            </div>
        </div>
        <div class="row descriptions video">
            <div class="col-sm-12">
                <video width="100%" controls>
                    <source th:src="${landingpage.video_ref}" type="video/mp4"/>
                    We are sorry, but your browser doesn't support HTML5 videos
                </video>
            </div>
        </div>
    </div>
</div>

<div class="wrapper" id="contact"
     th:style="'background: url(' + ${imagepath4} + ') center top no-repeat; background-size: cover;'"
     th:object="${landingpage}">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="prompt" th:text="#{prompt}">
                </h4>
            </div>
        </div>
        <div class="row descriptions">
            <!--/*@thymesVar id="contactform" type="com.belgium.cps.web.marushkai.entities.forms.ContactForm"*/-->
            <form action="#" th:action="@{/mail}" th:object="${contactform}" method="post" class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-1">
                        <input type="text" required th:field="*{name}" class="form-control" id="name"
                               placeholder="Name"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-1">
                        <input type="email" required th:field="*{email}" class="form-control" id="email"
                               placeholder="email"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-1">
                        <input type="text" required th:field="*{subject}" class="form-control" id="city"
                               placeholder="Subject"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-1">
                                    <textarea required th:field="*{message}" class="form-control" id="message"
                                              placeholder="Message"
                                              rows="6"></textarea>
                    </div>
                </div>
                <!--/*@thymesVar id="title" type="com.belgium.cps.web.marushkai.entities.ready.LandingPageReady.title"*/-->
                <input type="hidden" th:attr="name='categoryName'" th:value="${title}">
                <input type="hidden" th:attr="name='mail'" th:value="#{mail}">
                <input type="hidden" th:attr="name='returnUrl'" th:value="'/product/' + ${return} + '/'">
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <div class="col-sm-5 col-sm-offset-4">
                            <button type="submit" class="btn btn-danger btn-md" th:text="#{submit}"></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <hr style="margin-bottom: 30px;"/>
        <div class="footer-cat-copyright" th:include="category::footer-copyright"/>
    </div>
</div>

<div class="container" id="scroll">
    <div class="row">
        <nav class="col-sm-1" id="scrollSpy">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#general-info" th:text="#{general}"></a></li>
                <li><a href="#description" th:text="#{description}"></a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span th:text="#{gallery}"
                                                                                     th:remove="tag"></span> <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#gallery-1" th:text="#{photos}"></a></li>
                        <li><a href="#gallery-2" th:text="#{videos}"></a></li>
                    </ul>
                </li>
                <li><a href="#contact" th:text="#{contact_us}"></a></li>
            </ul>
        </nav>
    </div>
</div>

<div th:include="index::scripts"></div>
<script>
    $('body').scrollspy({target: '#scrollSpy'})

    //    MODAL-WINDOW
    $(function () {
        //----- OPEN
        $('[data-popup-open]').on('click', function (e) {
            var targeted_popup_class = jQuery(this).attr('data-popup-open');
            $('[data-popup="' + targeted_popup_class + '"]').fadeIn(350);

            e.preventDefault();
        });

        //----- CLOSE
        $('[data-popup-close]').on('click', function (e) {
            var targeted_popup_class = jQuery(this).attr('data-popup-close');
            $('[data-popup="' + targeted_popup_class + '"]').fadeOut(350);

            e.preventDefault();
        });

        $('.popup').click(function (e) {
            $('.popup').fadeOut(350);
            e.preventDefault();
        });

        $('.popup-inner').click(function (e) {
            e.stopPropagation();
        });
    });
</script>
</body>
</html>