<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137864798-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-137864798-1');
    </script>
    <meta charset="UTF-8">
    <title>Used machinery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link href="/libs/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/libs/flag-icon-css-master/css/flag-icon.min.css" rel="stylesheet"/>
    <link href="/libs/jquery.loadingModal.min.css" rel="stylesheet">
    <link href="/css/main_page.css" rel="stylesheet"/>
    <link href="/css/used.css" rel="stylesheet">
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PW4CD8B" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<nav class="navbar navbar-inverse" th:include="index::main-nav"/>
<div class="wrapper">
    <div class="row outer-row">
        <div class="col-sm-2 filter-container">
            <div class="filters">
                <p class="filter-cat" th:text="#{mach_type}"></p>
                <form th:action="@{/used/filter}" class="form-horizontal" method="get">
                    <div class="form-group">
                        <select class="form-control" id="type" name="type" onchange="setFilter(this.value)">
                            <option class="types" value="" selected></option>
                            <!--/*@thymesVar id="type" type="com.belgium.cps.web.marushkai.entities.Used"*/-->
                            <option class="types" th:each="index : ${#numbers.sequence( 0, #arrays.length(types)
                             - 1)}" th:text="${typesTrans[index]}"
                                    th:value="${types[index]}"></option>
                        </select>
                    </div>
                    <!--<div class="form-group">-->
                    <!--<button type="submit" class="btn btn-danger btn-md" th:text="#{submit}"></button>-->
                    <!--</div>-->
                </form>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="container used-container">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="pages" th:text="#{pages} + ':'"></h3>
                        <ul class="pagination page-numbers"></ul>
                    </div>
                    <ul id="rows">
                        <li>
                            <div class="col-sm-12 item-background">
                                <div class="row relative">
                                    <div class="col-sm-4">
                                        <img class="img-responsive img-thumbnail item-img"
                                             src="https://newhollandused.uk/media/img/vehicles/65137/1154249.jpg"
                                             alt="image1">
                                    </div>
                                    <div class="col-sm-8 relative">
                                        <h4 class="model-name">Model</h4>
                                        <ul class="item-details">
                                            <li><span id="year" class="item-details-name"
                                                      th:text="#{year} + ': '"></span>
                                                <span class="item-details-value">US</span></li>
                                            <li><span id="location" class="item-details-name"
                                                      th:text="#{location} + ': '"> </span>
                                                <span class="item-details-value">12332</span></li>
                                            <li><span id="engine_hours" class="item-details-name"
                                                      th:text="#{engine_hours} + ': '"> </span>
                                                <span class="item-details-value">asdasd</span></li>
                                            <li><span id="separator_hours" class="item-details-name"
                                                      th:text="#{separator_hours} + ': '"> </span>
                                                <span class="item-details-value">ASDA</span></li>
                                            <li><span class="item-details-name">ID: </span>
                                                <span class="item-details-value">ASDA</span></li>
                                        </ul>
                                        <div class="price col-sm-2 col-sm-offset-10">
                                            <p id="price" class="pr-name" th:text="#{price} + ':'"></p>
                                            <p id="on_request" class="pr-value" th:text="#{on_request}"></p>
                                        </div>
                                        <div class="col-sm-12 instr-div">
                                            <p id="instructions" class="instruction" th:text="#{instructions}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <h3 class="pages" th:text="#{pages} + ':'"></h3>
                    <ul class="pagination page-numbers"></ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <hr style="margin-bottom: 30px;"/>
            <div class="footer-cat-copyright" th:include="category::footer-copyright"/>
        </div>
    </div>
</div>
<div th:include="index::scripts"></div>
<script src="/libs/jquery.loadingModal.min.js"></script>
<script src="/scripts/pagination.js"></script>
</body>
</html>